<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webperside.courseerpbackend.repository.LanguageRepository">

    <select id="findAll" resultType="Language">
        SELECT
        <include refid="languageBaseColumns"/>
            FROM languages l
            WHERE l.is_deleted=false
    </select>

    <select id="findById" resultType="Language">
        SELECT
        <include refid="languageBaseColumns"/>
        FROM languages l
        WHERE l.id = #{id} and l.is_deleted = false
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO languages (name, has_localization)
        VALUES (#{name}, #{hasLocalization})
    </insert>

    <update id="update" parameterType="Language">
        UPDATE languages l
        SET name = #{name}, has_localization = #{hasLocalization}
        WHERE l.id = #{id};
    </update>

    <sql id="languageBaseColumns">
        l.id,
        l.name,
        l.has_localization,
        l.is_deleted
    </sql>

</mapper>