<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webperside.courseerpbackend.repository.UserRepository">

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO users (name, surname, status, role_id, email, phone_number, password)
        VALUES (#{name}, #{surname}, #{status}, #{roleId}, #{email}, #{phoneNumber}, #{password})
    </insert>

    <select id="findByEmail" resultType="User">
        SELECT
            <include refid="userBaseColumns"/>
        FROM users u
        WHERE u.email = #{email}
            AND u.is_deleted = false
    </select>

    <select id="findByPhoneNumber" resultType="User">
        SELECT
        <include refid="userBaseColumns"/>
        FROM users u
        WHERE u.phone_number = #{phoneNumber}
        AND u.is_deleted = false
    </select>

<!--    <select id="existsPhoneNumber" resultType="boolean">-->
<!--        SELECT COUNT(*) > 0-->
<!--        FROM users-->
<!--        WHERE phone_number = #{phoneNumber} AND is_deleted = false-->
<!--    </select>-->


    <sql id="userBaseColumns">
        u.id,
        u.name,
        u.surname,
        u.status,
        u.role_id,
        u.email,
        u.phone_number,
        u.password,
        u.is_deleted
    </sql>

</mapper>